
        .bell{
          position: absolute;
          right: 11px;
          top: -14px;
          color: #f7f3f3;
          border-radius: 75%;
          text-align: center;
          width: 19px;
          background-color: red;
          border: 2px solid #666;
        }

    